.navcont {
  h4 {
    cursor: pointer;
    color: white;

  }

  h5 {
    padding: .3rem;
    border-radius: 5px;
    border-bottom: 5px solid transparent;
    border-image: linear-gradient(90deg, #00ffa2 0%, #ff1b02 100%) 1;
    transition: .4s ease;
    /* font-style:bold; */
    font-weight: 600;
    color: white;

    cursor: pointer;

    &&:hover {
      background-image: linear-gradient(90deg, #00ffa2 0%, #ff1b02 100%);
      transition: .5s ease-out;
      color: black;
    }

  }

  a {
    text-decoration: none;
    color: white;
    cursor: pointer;

    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width:768px) {
  h5 {
    display: none;
  }
}